/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.font-weight{
	font-weight: bold;
}
.decoration-none{
	text-decoration: none;
	color: #fff;
}

#error_explanation{
    margin: 5px 10px 0 10px;
	border: solid 1px red;
	.error_count{
	    color: #fff;
	    background-color: red;
	    font-size: 15px;
	    padding-left: 5px;
	}
	.error_message{
	    color: red;
	    padding-left: 10px;
	    list-style: none;
	}
}

header{
	height: 50px;
	background-color: #000;
	position: relative;

	.header-title{
	    color: #fff;
	    position: absolute;
	    top: 10px;
	    left: 10px;
	    margin: 0;
    }

    ul{
        position: absolute;
        right: 10px;
        line-height: 50px;

        .header-list-item{
            display: inline-block;
            list-style: none;
            color: #fff;
            margin: 0 5px;
        }
    }
}
